* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100vh;
  background-color: #0f3263;
}
.container {
  width: 700px;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.get-input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_text {
  font-size: 26px;
  color: #fff;

}
.city_input {
  font-family: "Courier New", Courier, monospace;
  outline: none;
  padding: 12px;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid lightgray;
  text-transform: capitalize;
}
.city_input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.city_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.city_input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.city_input:focus {
  outline: none;
}

.weather_container {
  width: 100%;
}
/* grid  */
.weather_grid_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}
.grid_left {
  width: 250px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 14px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.grid_left h2,h4{
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: 20px 0px;
}
.grid_right h3{
  color: #fff;
  margin: 0px auto;
}
.grid_right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.mini_card {
  height: 120px;
  width: calc((90% - 20px) / 2);
  padding: 14px;
  margin: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.mini_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.mini_flex p{
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
